/* Обнуление */
@import "../../../style/css/null.css";

/* -------------------- */

:root {
    --btn_text-color: #fff;
    --white-background: #fff;
    --height-header: 90px;
}

.header {
    position: sticky;
    top: 0;

    .header__container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 24px;
        width: 1024px;
        height: var(--height-header);
        background: #1F75CB;

        .header__menu {
            display: flex;
            justify-content: end;

            .menu__body {
                display: flex;

                .menu__btn {
                    display: flex;
                    align-items: center;
                    // letter-spacing: 0.7px;
                    letter-spacing: 0.3px;
                    padding: 0px 16px;
                    height: 42px;
                    border-radius: 4px;
                    border: 1px solid #fff;
                    background: #1F75CB;
                    margin: 0px 0px 0px 24px;
                    color: var(--btn_text-color);

                    .menu__btn_logo {}

                    .menu__btn_drop-down {
                        margin: 0px 4px 0px 12px;
                        fill: white;
                    }
                }

                .menu__btn:hover {
                    color: #1C1C1C;
                    background: var(--white-background);

                    .menu__btn_drop-down {
                        fill: #DCDCDE;
                    }
                }
            }
        }
    }

    @media (min-width: 1025px) {
        .header__container {
            width: 100%;
        }
    }
}