.users-container {
    padding: 15px;
    min-width: 1000px;

    .users__page {

        margin: 0px auto;
        display: flex;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        .users__photo {
            min-width: 400px;
            text-align: center;
            padding: 15px;
        }

        .users__content {
            flex: 1 1 auto;
            flex-direction: column;
            margin: 0 0 0 15px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding: 15px;

            .users__name {
                font-size: 14px;
                margin: 0px 0px 20px 0px;
            }

            .users__info {
                font-size: 14px;
            }
        }
    }
}