/* Обнуление */
@import "../../../style/scss/null.scss";

/* -------------------- */

.plug__container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.plug {
    min-height: 100vh;
    display: flex;
    padding: 24px;

    .plug__body {
        flex: 1 1 auto;
        width: 100%;
        margin: 0px auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        .plug__info {
            margin: 0px 0px 10px 0px;
        }

        .plug__btn {
            display: inline-block;
            color: #FFFFFF;
            background: #1F75CB;
            border-radius: 4px;
            align-self: center;
            padding: 12px 16px;
        }
    }
}